*,*:before,*:after{
    padding:0;
    margin:0;
    box-sizing: border-box;
};
body{
    
    min-height: 100vh;
}
.main{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient(white,rgba(105, 105, 105, 0.589));
}
.quiz-main{
    box-shadow: 1px 2px 20px 0px #00000010;
    border-radius: 10px;
    overflow: hidden;
    width:400px;
    background-color: white;
}
h2{
    margin-bottom: .5rem;
}
li{
    display: flex;
    gap:.8rem;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: .3rem;
}
ul{
    list-style: none;
    
}
.container{
    padding:3rem;
}
button{
    font-size: 1rem;
    display: block;
    background-color: green;
    color:white;
    height:50px;
    border:none;
    width:100%;
}
button:hover {
    background-color: rgb(1, 75, 1);
}
.result h2{
    width:100%;
    padding:2rem;
}