*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar{
  height :20px;
}
*::-webkit-scrollbar-track{
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb{
  background-color: rgb(16, 224, 207);
  width:20px;
  border-radius: 6px;

}
  *::-webkit-scrollbar {
  /* width:4px; */
  background: #055575ec;
}

body {
    
}
.main {
    
  background: linear-gradient(rgb(0, 195, 255), rgb(0, 91, 209));
  min-height: 100vh;
  

}
.container {
  padding: 3rem;
  margin: 0 auto;
}
.note-container {
  background-color: rgba(255, 255, 255, 0);
  width: 280px;
  height: 280px;
}
.tools,
textarea,
.view-container {
  border-radius: 10px;
}

.tools {
  display: flex;
  justify-content: flex-end;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 1rem;
  background-color: rgb(12, 165, 127);
  /* max-width:314px; */
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.note-parent{
    /* flex: 1 0 48%;  */
/* margin: 1%;  */
padding: 3rem 0;
    display: flex;  
  flex-wrap: wrap; 
  justify-content: flex-start;   
  /* justify-content: center; */
  
  flex: 1; 
  flex-basis: 100%;
gap:4rem;

    /* border:3px solid red; */
    }
button {
  cursor: pointer;
}
header button {
  border-radius: 4px;
  border: none;
  padding: 0.5rem;
  margin-top: -60px;
}
.tools button {
  background-color: transparent;
  color: rgb(224, 224, 224);
  border: none;
  margin-right: 10px;
}
.note-container{
    /* height:auto; */
    /* border:3px solid orange; */

}
.note-container .view-container {
  width: 100%;
  height: 100%;
  background-color: rgba(58, 57, 57, 0.555);
  padding: 1.4rem;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  /* display: none; */
}
textarea {
    display: block;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* max-width: 100%; */
  padding: 0.4rem;
  width: 100%;
  height: 100%;
  resize: none;
  border: None;
  overflow-y: auto;
}
.view {
  background-color: rgba(58, 57, 57, 0.555);
}

button:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}
.hidden {
  /* display: none; */
}
.view-container-hidden {
  display: none;
}
button > span {
  font-family: sans-serif;
  font-weight: 20;
}

@media screen and (max-width: 600px) {
  .note-container {
    margin: 0 auto;
  }
}
